.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.title {
  font-size: 28px;
  text-align: center;
  margin: 20px 15px 20px 15px;
}
