.header {
  margin: 20px 0;
}

.title {
  font-size: 32px;
  margin: 0;
  text-align: center;
}

.text {
  font-size: 18px;
  text-align: center;
  margin-bottom: 0;
}

@media (max-width: 425px) {
  .title {
    font-size: 24px;
  }
  .text {
    font-size: 16px;
  }
}
