.table {
  width: 100%;
  padding: 20px 20px;
  border-collapse: collapse;
  box-sizing: border-box;
}

.table__td:nth-of-type(1) {
  text-align: end;
}

.table__td {
  width: calc(25%);
}

table,
.table__th,
.table__td {
  border: 1px solid black;
  padding: 8px;
}

tbody .table__tr:hover {
  background-color: bisque;
  cursor: pointer;
}

@media (max-width: 425px) {
  .table {
    padding: 20px 15px;
  }
  table,
  .table__th,
  .table__td {
    padding: 4px;
  }
}
